

@font-face {
	font-family: 'Lineatura';
	src: url('Lineatura.eot');
	src: local('Lineatura'),
		url('Lineatura.eot?#iefix') format('embedded-opentype'),
		url('Lineatura.woff') format('woff'),
		url('Lineatura.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lineatura';
	src: url('Lineatura-Full.eot');
	src: local('Lineatura Full'), local('Lineatura-Full'),
		url('Lineatura-Full.eot?#iefix') format('embedded-opentype'),
		url('Lineatura-Full.woff') format('woff'),
		url('Lineatura-Full.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lineatura';
	src: url('Lineatura-Bold.eot');
	src: local('Lineatura Bold'), local('Lineatura-Bold'),
		url('Lineatura-Bold.eot?#iefix') format('embedded-opentype'),
		url('Lineatura-Bold.woff') format('woff'),
		url('Lineatura-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Lineatura';
	src: url('Lineatura-SemiBold.eot');
	src: local('Lineatura SemiBold'), local('Lineatura-SemiBold'),
		url('Lineatura-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('Lineatura-SemiBold.woff') format('woff'),
		url('Lineatura-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Lineatura';
	src: url('Lineatura-Light.eot');
	src: local('Lineatura Light'), local('Lineatura-Light'),
		url('Lineatura-Light.eot?#iefix') format('embedded-opentype'),
		url('Lineatura-Light.woff') format('woff'),
		url('Lineatura-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Lineatura';
	src: url('Lineatura-Double.eot');
	src: local('Lineatura Double'), local('Lineatura-Double'),
		url('Lineatura-Double.eot?#iefix') format('embedded-opentype'),
		url('Lineatura-Double.woff') format('woff'),
		url('Lineatura-Double.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
