.rules-container {
  @include fixedBeforeNav;

  .content {
    background-size: 102% !important;
    @include fixedContainerInner;
    overflow: hidden;
    @media screen and (max-width: 699px) {
      background-size: 200% !important;
    }
    .bottom {
      @include bottomBlock;
    }
  }
}
